body {
      position: relative;
	  background-color:#92D050;
  }
 
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  	h{ 
		padding-top: 20px;
		padding-bottom: 20px;
		font-size:40px;
		color:white;
		margin-left:10px;
		}
	p {
		font-size: 14px;
		
		}
	#head-project-personalinfo{font-size:20px; color:92D050; display: inline-block;}
	.text-personal{color:#151515; 
				text-align:center;
				}
    .text-white{color:#ffff;}
	.text-green{color:#92D050;}
	.text-black{color:#151515;}
	.text-shadow {text-shadow:2px 2px 2px #000000}
	.box-shadow{ box-shadow: 10px 10px 5px 	#2c2c2c;}
	.box-profile {
		background-color:#fff;
		width: 300px;
		padding: 25px;
		margin: 25px;
		display: inline-block;
	}
	.box-project {
		background-color:#fff;
		width: 400px;
		padding: 25px;
		margin: 25px;
		display: inline-block;
	}
  .bg-black{background-color:black;}
  .ViewTask-btn{width:200px; }
  #ViewTask-btn{ color:#151515;}
  #ViewTask-btn:link{color:#151515; font-weight:bold; text-align:center;}
  #ViewTask-btn:hover{color:#151515; font-weight:bold; text-align:center;}
  #ViewTask-btn:active{color:#ffff; font-weight:bold; text-align:center;}
  #ViewTask-btn:visited{color:#ffff; font-weight:bold; text-align:center;}
  #usernameicon{color:#92D050; margin-right:5px; font-size: 12px;}
  #section1 {padding-top:50px; padding-bottom:200px; height:auto;color: #fff; background-color: #151515;}
  #section2 {padding-top:50px;height:auto;color: #fff; background-color: #92D050;}

    /*CSS Project info!*/
  iframe.location {
	
		margin-left: 20%;
		margin-right: 20%;
		
		width: 60%;
		
		}

		
	p.head {	
		margin-top: 30px;
		font-size: 14px;
		font-weight: bold;
		color:#92D050; 
		text-align:center;
		white-space: nowrap;
	}
	p.info {
		font-size: 14px;
		color:#FFFF;
		font-weight: normal;
		text-align:center;
		white-space: nowrap;
	}
	thead.head {
		font-size: 14px;
		color:#92D050;
		font-weight: normal;
	}
	tbody.info {
		font-size: 14px;
		color:#FFFF;
		font-weight: normal;
	}
		
				
			
	.h-project{ 			
				font-weight: 30px;
				text-align:center;
				
		}
	h1.bold{font-weight:bold;}
		

	/*Personal info!*/
		
		#userpic {
	 	display: block;
		margin-left: auto;
		margin-right: auto;
		width:100px;
		hight:auto;
		
		
		}
	
	.panel{color:#151515;}
	.glyphicon-earphone,.glyphicon-envelope,.glyphicon-briefcase{color:#92D050; margin-right:5px; font-size: 12px;}
	#btnHistory{
		color:#fff; 
		background-color:#92D050;
		width:25%;
		margin-left:40%
		
	}
	#btnHistory:hover {color:#92D050; 
		background-color:#fff;
		
		margin-left:40%
		}
		
	/*Personal*/
	
	.glyphicon-ok {color:Green; }
	.glyphicon-remove {color:red;}